
name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: yarn install

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: yarn semantic-release


      